{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Pokedex</title>
</head>
<body>
    <div class="painel" data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-perspective="500">
        <img width="70px" style="position: absolute; left: 300px" src="{% static 'img/pokeball.png' %}" alt="Pokebola">
        <h1>Pokedex</h1>

        <div id="tela"></div>

        <input type="text" name="entrada" id="entrada" placeholder="Digite o nome do Pokemon">
        <button class="pesquisar" onclick="buscar()">Pesquisar <i class="bi bi-search"></i></button>

        <br>
        <button onclick="anterior()"><i class="bi bi-arrow-left-circle-fill"></i> Anterior </button>
        <button onclick="proximo()"> Próximo <i class="bi bi-arrow-right-circle-fill"></i></button>
    </div>
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.8.1/vanilla-tilt.min.js"></script>
</body>
</html>